.red-stripe {
  background-color: #12aaf1;
  height: 40px;
  display: block;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  border-bottom: 5px solid white;
}

.navbar-container {
  height: 40px;
}

.separator {
  border: 1px solid white;
  background-color: white;
}

.nav-button {
  color: white;
  background-color: transparent;
  border: 0;
  font-weight: bold;
}

